*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-color: var(--md-sys-color-outline);
  font-family: "Lato", "Merriweather", sans-serif;
}

@layer base {
  h1 {
    @apply display-large;
  }
  h2 {
    @apply display-medium;
  }
  h3 {
    @apply display-small;
  }
  h4 {
    @apply headline-large;
  }
  h5 {
    @apply headline-medium;
  }
  h6 {
    @apply headline-small;
  }

  /* BUTTONS */

  /* High emphasis */
  .extended-fab-button {
    @apply label-medium capitalize shadow-md hover:bg-blue-500 active:to-red-500 focus:bg-green-500 disabled:bg-slate-500;
  }
  .fab-button {
    @apply label-medium capitalize shadow;
  }
  .filled-button {
    @apply label-medium capitalize;
  }

  /* Medium emphasis */
  .filled-tonal-button {
    @apply label-medium capitalize;
  }
  .elevated-button {
    @apply label-large capitalize surface-variant primary-text shadow-md hover:shadow-lg;
  }
  .outlined-button {
    @apply label-medium capitalize;
  }

  /* Low emphasis */
  .text-button {
    @apply label-medium capitalize;
  }
  .segmented-button {
    @apply label-medium capitalize;
  }
  .icon-button {
    @apply label-medium capitalize;
  }
}